@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')

.image-wrapper
    background-image: url('https://firebasestorage.googleapis.com/v0/b/investy-b17a1.appspot.com/o/Hoa%2Fbackgrpage.png?alt=media&token=ac653df4-6a8b-4abf-96e8-f43f0ece68f5')
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    height: 100vh
    width: 100vw
    display: flex
    justify-content: center
    align-items: center
    flex-wrap: wrap
    gap: 20px
    padding: 110px 20px

.image-container
    position: relative
    border: none
    background-color: #ffffff00
    overflow: hidden
    border-radius: 15px
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)
    transition: transform 0.3s ease, box-shadow 0.3s ease
    cursor: pointer
    &:hover
        transform: translateY(-10px)
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3)

.image
    width: 300px
    height: 200px
    object-fit: cover
    transition: transform 0.3s ease

.image-container:hover .image
    transform: scale(1.1)

.overlay
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    height: 100%
    width: 100%
    opacity: 0
    transition: opacity 0.3s ease
    background-color: rgba(0, 0, 0, 0.5)
    display: flex
    justify-content: center
    align-items: center
    color: white
    font-size: 20px
    font-weight: bold
    border-radius: 15px

.image-container:hover .overlay
    opacity: 1

.text
    color: white
    font-family: 'Be Vietnam Pro', sans-serif

.modal
    display: flex
    position: fixed
    z-index: 1
    left: 0
    top: 0
    width: 80%
    height: 80%
    overflow: auto
    margin-top: 7%
    margin-left: 10%
    background-color: rgba(0, 0, 0, 0.9)
    justify-content: center
    align-items: center

.close
    position: absolute
    top: 20px
    right: 35px
    color: #fff
    font-size: 40px
    font-weight: bold
    transition: 0.3s
    cursor: pointer
    border: none
    background-color: #ffffff00
    &:hover,
    &:focus
        color: #bbb
        text-decoration: none
        cursor: pointer

.modal-content
    margin: auto
    display: block
    width: 80%
    max-width: 700px

@media (max-width: 700px)
    .modal-content
        width: 100%
